
<%#= resource_name.to_s.humanize %>

 <div class="middle-container background">
   <div class="container-common">
     <div class="row align-items-center justify-content-center min-ht-window">
       <div class="col-md-12">
         <div class="middle-block max-WT-500 margin-auto pLR0">
           <div class="logo-inner">

             <%= link_to(image_tag("/assets/logo-inner.png") , root_path) %>
           </div>
           <div class="form-block min-ht-400 pb0">
             <div class="form-header">
               <h2>Reset Password</h2>
               <p>Lorem Ipsum is simply dummy text of the printing & typesetting industry.</p>
             </div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put,class: "main-form p10 mt20" }) do |f| %>
 <%= devise_error_messages! %>

  <div class="form-group row">
 <div class="col-md-12">

   <%= image_tag current_user.imagename.thumb.url%>
 </div>
 </div>
<div class="form-group row">
<div class="col-md-12 field">
                               <%= f.file_field :imagename, autocomplete: "off",class: 'form-control', placeholder: 'Image Name'%>
                               </div>
                               </div>


 <div class="form-group row">
 <div class="col-md-12">
   <%= f.text_field :name, autocomplete: "name",placeholder: "name",class: "form-control" %>
 </div>
 </div>

 <div class="form-group row">
 <div class="col-md-12">
   <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "email",class: "form-control" %>
 </div>
 </div>

 <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
   <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
 <% end %>

 <div class="form-group row">
 <div class="col-md-12">
   <%= f.password_field :password, autocomplete: "off",class: "form-control",placeholder: "password" %>
 </div>
 </div>

 <div class="form-group row">
 <div class="col-md-12">
   <%= f.password_field :password_confirmation, autocomplete: "off",class: "form-control",placeholder: "confirm Password" %>
 </div>
 </div>
 <div class="form-group row">
 <div class="col-md-12">
   <%= f.password_field :current_password, autocomplete: "off",class: "form-control",placeholder: "Current Password" %>
 </div>
 </div>
 
 
 <div class="form-group row mb0">
 <div class="col-md-12">
 <div class="actions">
   <%= f.submit "Update",class: "btn btn-block btn-login"%>
 </div>
 </div>
 </div>
<% end %>
