 <div class="cid-qStcGsQ63V" id="footer1-g">
   <div class="container-custome">
     <div class="media-container-row content text-white">
       <div class="col-12 col-lg-3">
         <div class="media-wrap mb15">
           <%= link_to(image_tag("/assets/logo2.png") , root_path) %>
         </div>
       </div>
       <div class="col-12 col-lg-5">
         <div class="row">
           <div class="col-lg-5">
             <div class="footer-box">
               <h6>About Us</h6>
               <ul class="footer-menu">
                 <li><a href="#">Company Information</a></li>
                 <li><%= link_to 'Terms And Conditions', termsconditions_path %></li>
                 <li><%= link_to 'Privacy Policy', privacypolicy_path %></li>
                 <li><%= link_to 'Help', help_path %>
                 </li>
                 <li><%= link_to 'FAQ', faq_path %></li>
               </ul>
             </div>
           </div>
           <div class="col-lg-7">
             <div class="footer-box">
               <h6>&nbsp;</h6>
               <ul class="footer-menu">
                 <li><a href="#">Act on Specified Commercial Transactions</a></li>
                 <li><a href="#">Trading Rules</a></li>
                 <li><a href="#">Risks in Virtual Currency Transactions</a></li>
                 <li><a href="#">Anti Social Forces Confirmation Letter￼</a></li>
               </ul>
             </div>
           </div>
         </div>
       </div>
       <div class="col-12 col-lg-4">
         <div class="row">
           <div class="col-lg-6">
             <div class="footer-box">
               <h6>Botexa</h6>
               <ul class="footer-menu">
                 <li><a href="#">Try Free Demo</a></li>
                 <li><a href="#">Download on the App Store</a></li>
                 <li><a href="#">Get it on Google Play</a></li>
               </ul>
             </div>
           </div>
           <div class="col-lg-6">
             <div class="footer-box">
               <h6>Account</h6>
               <ul class="footer-menu">
                 <li><%= link_to 'Sign In', new_user_session_path %></li>
                 <li><%= link_to 'Recover Account',new_user_password_path%></li>
                 <li><a href="#">API</a></li>
               </ul>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>